<form action="/signup" method="POST">
    <input type ="text" name="name" placeholder="Enter Username/Email">
    <input type ="password" name="password" placeholder="Enter Password">
    <input type ="password" name="confirmPassword" placeholder="Confirm Password">
    <input type ="submit" value="submit" id = "signUpSubmit" class="btn waves-effect waves-light"> 
</form>