<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home/Login</title>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel = "stylesheet" type = "text/css" />
    <link href="/css/index.css" rel = "stylesheet" >
    <link href="/css/styles.css" rel= "stylesheet">
</head>

<body>
 {{{body}}}
 <div class = "loginbox" >
    <img src = "/assets/logo.png" class = "logo" >
    <h1>Login Here</h1>
     <form>
        <p> Username </p>
        <input type ="text" name="" placeholder= "Enter Username">
        <p> Password </p>
        <input type = "password" name = "" placeholder = "Enter Password">
        <input type ="submit" name = "" value ="Login">
        <a href ="forgottenpass.html" > Forgotten password?</a><br>
        <a href ="create.html" > Create Account?</a>
    </form>
    </div>
 <script src ="/js/script.js"></script>
</body>
</html>
