<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Home</title>
   <link rel = "stylesheet" type = "text/css" href = "styles.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>
<body>
  <div class = "createbox" >
    <img src = "assets/logo.png" class = "logo1" >
    <h1>Create Account</h1>
    <form>
        <p> Create Username </p>
        <input type ="text" name="" placeholder= "Enter Username">
        <p> Create Password </p>
        <input type = "password" name = "" placeholder = "Password">
        <p> Re-enter Password </p>
        <input type = "password" name = "" placeholder = "Re-enter password">
        <input type ="submit" name = "" value ="Enter">
    </form>
    </div>
</body>
</html>