{{!-- <div class ="container">
    <div class = "row">
        <div class = "col s6"></div>
            <h3> Sign In </h3>
            {{> signinForm }}
        <div class = "col s6"></div>
            <h3> Sign Up </h3>
            {{> signupForm }}
    </div>
</div> --}}

{{!-- <html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/index/css" rel = "stylesheet">
  <link href="/css/styles.css" rel="stylesheet" /> 
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>
<body>
    <div class = "loginbox" >
    <img src = "images/logo.png" class = "logo" >
    <h1>Login Here</h1>
    {{!-- {{> signinForm }} --}}
    {{!-- <form>
        <p> Username </p>
        <input type ="text" name="" placeholder= "Enter Username">
        <p> Password </p>
        <input type = "password" name = "" placeholder = "Enter Password">
        <input type ="submit" name = "" value ="Login">
        <a href ="forgottenpass.html" > Forgotten password?</a><br>
        <a href ="create.html" > Create Account?</a>
    </form>
    </div>

</body>
</html> --}} 