<div class ="container">
    <div class = "row">
        <div class = "col s6"></div>
            <h3> Sign In </h3>
            {{> signinForm }}
        <div class = "col s6"></div>
            <h3> Sign Up </h3>
            {{> signupForm }}
    </div>
</div>